# Joining Data with Pandas

***

## Data Merging Basics

### Importing Libraries

In [1]:
# Import libarary
import pickle
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
# Load 1st dataset tax_owners

taxi_owners = pickle.load(
    open("D:/git_repositories/Datacamp-Joining_data_with_pandas/Datasets/taxi_owners.p", "rb")
)

In [4]:
# Load 2nd dataset taxi_vehicles

taxi_veh = pickle.load(
    open("D:/git_repositories/Datacamp-Joining_data_with_pandas/Datasets/taxi_veh.p", "rb")
)

---

### Showing Datasets

In [6]:
# 1st data
taxi_owners.head()

     rid   vid           owner                 address    zip
0  T6285  6285  AGEAN TAXI LLC     4536 N. ELSTON AVE.  60630
1  T4862  4862    MANGIB CORP.  5717 N. WASHTENAW AVE.  60659
2  T1495  1495   FUNRIDE, INC.     3351 W. ADDISON ST.  60618
3  T4231  4231    ALQUSH CORP.   6611 N. CAMPBELL AVE.  60645
4  T5971  5971  EUNIFFORD INC.     3351 W. ADDISON ST.  60618

In [7]:
# 2nd data
taxi_veh.head()

    vid    make   model  year fuel_type                owner
0  2767  TOYOTA   CAMRY  2013    HYBRID       SEYED M. BADRI
1  1411  TOYOTA    RAV4  2017    HYBRID          DESZY CORP.
2  6500  NISSAN  SENTRA  2019  GASOLINE       AGAPH CAB CORP
3  2746  TOYOTA   CAMRY  2013    HYBRID  MIDWEST CAB CO, INC
4  5922  TOYOTA   CAMRY  2013    HYBRID       SUMETTI CAB CO