# Merging Tables with Different Join Types

---

## Left Join

**Import Libraries**

In [3]:
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt

**Load Datasets**

In [4]:
movies = pickle.load(
    open("D:/git_repositories/Datacamp-Joining_data_with_pandas/Datasets/movies.p", "rb")
)

In [5]:
movies.head()

      id                 title  popularity release_date
0    257          Oliver Twist   20.415572   2005-09-23
1  14290  Better Luck Tomorrow    3.877036   2002-01-12
2  38365             Grown Ups   38.864027   2010-06-24
3   9672              Infamous    3.680896   2006-11-16
4  12819       Alpha and Omega   12.300789   2010-09-17

In [7]:
# 2nd Dataset
financials = pickle.load(
    open("D:/git_repositories/Datacamp-Joining_data_with_pandas/Datasets/financials.p", "rb")
)

In [8]:
financials.head()

       id     budget       revenue
0   19995  237000000  2.787965e+09
1     285  300000000  9.610000e+08
2  206647  245000000  8.806746e+08
3   49026  250000000  1.084939e+09
4   49529  260000000  2.841391e+08

---

### Merging movies and financial tables as a left join