# Merging Ordered and Time Series Data

---

## Loading Datasets

In [1]:
# import library
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pickle

In [3]:
# Loading 1st dataset
gdp = pd.read_csv("D:/git_repositories/Datacamp-Joining_data_with_pandas/Datasets/WorldBank_GDP.csv")

In [4]:
gdp.head()

    Country Name Country Code     Indicator Name  Year           GDP
0          China          CHN  GDP (current US$)  2010  6.087160e+12
1        Germany          DEU  GDP (current US$)  2010  3.417090e+12
2          Japan          JPN  GDP (current US$)  2010  5.700100e+12
3  United States          USA  GDP (current US$)  2010  1.499210e+13
4          China          CHN  GDP (current US$)  2011  7.551500e+12

In [5]:
# loading 2nd dataset

sp500 = pd.read_csv("D:/git_repositories/Datacamp-Joining_data_with_pandas/Datasets/S&P500.csv")

In [6]:
sp500.head()

   Date  Returns
0  2008   -38.49
1  2009    23.45
2  2010    12.78
3  2011     0.00
4  2012    13.41

---

### Correlation Between GDP and SP500

In [9]:
# Use merge_ordered() to merge gdp and sp500 on year and date
gdp_sp500 = pd.merge_ordered(gdp, sp500, left_on= 'Year', right_on= 'Date', 
                             how= 'left')

# Print gdp_sp500
gdp_sp500.head()

,Country Name,Country Code,Indicator Name,Year,GDP,Date,Returns
0,China,CHN,GDP (current US$),2010,6.087160e+12,2010.0,12.78
1,Germany,DEU,GDP (current US$),2010,3.417090e+12,2010.0,12.78
2,Japan,JPN,GDP (current US$),2010,5.700100e+12,2010.0,12.78
3,United States,USA,GDP (current US$),2010,1.499210e+13,2010.0,12.78
4,China,CHN,GDP (current US$),2011,7.551500e+12,2011.0,0.00

### Fill up the missing values with the previous value

In [10]:
# Use merge_ordered() to merge gdp and sp500, interpolate missing value
gdp_sp500 = pd.merge_ordered(gdp, sp500, left_on = 'Year', right_on = 'Date', how = 'left',
                fill_method = 'ffill')


# Print gdp_sp500

gdp_sp500.head()

,Country Name,Country Code,Indicator Name,Year,GDP,Date,Returns
0,China,CHN,GDP (current US$),2010,6.087160e+12,2010,12.78
1,Germany,DEU,GDP (current US$),2010,3.417090e+12,2010,12.78
2,Japan,JPN,GDP (current US$),2010,5.700100e+12,2010,12.78
3,United States,USA,GDP (current US$),2010,1.499210e+13,2010,12.78
4,China,CHN,GDP (current US$),2011,7.551500e+12,2011,0.00

**Load another dataset**